<!-- This is my custom css-->

headerUpper {
    height: 40px;
    background-color: black;
}

body {
    background-color: #e8ecf0;
}

.jumbotron {
    background-image: url('../img/jumbotron.jpg');
    background-repeat: no-repeat;
    min-height: 500px;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-top: 100px;
    margin-bottom: 40px;
}

.jumbotron h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #f5f7fa;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    vertical-align: middle;
}

.jumbotron p{
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #f5f7fa;
    text-align: center;
    vertical-align: middle;
}

.jumbotron a {
    background-color: #3ca3ca;
    border: none;
}

.jumbotron a:hover {
    background-color: #00bc9c;
    border: none;
}
.navbar {
    height: 100px;
    background-color: #121c25;
    border-bottom: 1px solid #6b7781;  
    font-family: 'Lato', sans-serif;
    
}

.navbar-brand {
    color: #121c25;
    margin-bottom: 100px;
    padding: 10px;
    margin-top: 0px
    
}

h1 {
    margin-top: 100px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #506a85;
}

.container h1 {
    margin-top: 120px;
    margin-bottom: 0px;
}

.container h3 {
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #969696;
}

.container h3 a {
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #008080;
}

.bio h1 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #969696;
    font-weight: bold;
    text-align: center;
    margin-top: 140px;
}

.bio p {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #dddddd;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.jumbotron-2 {
    background-image: url('../img/cocktails.png');
    background-repeat: no-repeat;
    min-height: 500px;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-top: 100px;
    margin-bottom: 40px;
}

.jumbotron-2 h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #fff;
    text-align: left;
    line-height: 50px;
    letter-spacing: 5px;
    vertical-align: middle;
}

.jumbotron-2 p{
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: left;
    vertical-align: middle;
}

.jumbotron-2 a {
    background-color: #3ca3ca;
    border: none;
    //text-shadow: shadow;
}

.jumbotron-2 a:hover {
    background-color: #00bc9c;
    border: none;
    //text-shadow: shadow;
    font-weight: bold;
}

.jumbotron-3 {
    background-image: url('../img/coffee.png');
    background-repeat: no-repeat;
    min-height: 400px;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tour {
    font-family: Lato, sans-serif; 
    margin-bottom: 50px;
    margin-top: 0px;
}

.tour h1 {
    font-family: Lato, sans-serif;
    color: #969696;
    font-weight: bold;
    letter-spacing: .5px
}

.tour a {
    background-color: #3ca3ca;
    font-weight: bold;
    border: none;
    margin-bottom: 70px;
}

.tour a:hover {
    background-color: #00bc9c;
    font-weight: bold;
    border: none;
    margin-bottom: 70px;
}

.tour p {
    font-size: 17px;
    color: #dddddd;
}

.options {
    font-family: Lato, sans-serif;
    color: #969696;
    margin-top: 150px;
}

.options-home {
    font-family: Lato, sans-serif;
    color: #969696;
    margin-top: 150px;
}

.options h4 {
    color: #969696;
    text-align: center;
}

.options p {
    text-align: center;
    color: #969696;
}

.options img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    background-color: #121c25;
    min-height: 200px;
    margin-top: 100px;
}

.bottom h3 {
    font-family: Lato, sans-serif;
    color: #6b7781;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

.bottom p {
    font-family: Lato, sans-serif;
    color: #008080;
    font-size: 13px;
}

.footer {
    display: inline;
    list-style-type: none;
}

.footer ul {
    text-align: left;
}

.footer li {
    padding-right: 10px;
}

.footer h3 {
    font-family: Lato, sans-serif;
    color: #6b7781;
    font-size: 16px;
    text-align: left;
}

.bottom a {
    background-color: #00bc9c;
    border: none;
}

.bottom a:hover {
    background-color: #3ca3ca;
    border: none;
}

.bottom input {
    font-family: Lato, sans-serif;
    font-size: 13px;
    background-color: #c7c7c7;
    border: none;
}

.footerBar {
    background-color: #0f171e;
    font-family: Lato, sans-serif;
    font-size: 13px;
    color: #008080; 
    min-height: 40px;
    text-align: center;
}

.footerBar ul {
    display: inline-block;
    list-style-type: none;
}

.footerBar ul li {
    font-family: Lato, sans-serif;
    font-size: 13px;
    padding-right: 5px;
}

.nav navbar-nav navbar-right li {
    color: #3ca3ca; 
    font-size: 15px;
}

.item h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #f5f7fa;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    vertical-align: middle;
}

.item p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #f5f7fa;
    text-align: center;
    vertical-align: middle; 
    letter-spacing: 2px;
}

.carousel-caption a {
    background-color: #3ca3ca;
    border: none;
    margin-bottom: 20px;
}

.carousel-caption a:hover {
    background-color: #008080;
    border: none;
}

.footer navbar-nav ul {
    padding-left: 0px;
}

.headerTop {
    background-color: #e8ebee;
}

.headerTop ul {
    display: inline-block;
    list-style-type: none;
}

.table {
    margin-bottom: 0px;
    margin-top: 60px;
    border: none;
    border-collapse: collapse;
    tr:nth-child(even) {background-color: #f2f2f2};
    tr:hover {background-color: #008080};
}

.table tr {
    hover {background-color: #f5f5f5}
}

.table tbody {
    background-color: #ffffff;
}

.table td {
    color: #3d9999;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.table th {
    font-family: 'Lato', sans-serif;
    color: #dddddd;
    font-size: 15px;
    border: 1px solid #858585;
    background-color: #008080;
    border-bottom: 1px solid #ddd;
}

.welcome {
    margin-bottom: 0px;
}

.welcome h1 {
    font-family: 'Lato', sans-serif;
    color: #969696;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 150px;
    font-weight: bold;
}

.welcome h3 {
    font-family: 'Lato', sans-serif;
    color: #bababa;
    font-size: 20px;
    margin-bottom: 0px;
}

.createButton{
    margin-top: 50px;
}

.createButton a:hover {
    background-color: #dddddd;   
}

.table-bordered td {
    font-family: 'Lato', sans-serif;
}

.table select {
    font-family: 'Lato', sans-serif;
    min-height: 50px;
    background-color: #dddddd;
    border: none;
    text-shadow: none;
}

.table input {
    border: none;
}

.nav li a {
    font-size: 15px;
    background-color: #121c25;
    margin-top: 0px;
}

.table th a {
    color: #ddd;
}
.nav li a:hover {
    color: #008080;
    background-color: #ddd;
}

.logIn h1 {
    font-family: 'Lato', sans-serif;
    color: #dddddd;
    font-size: 40px;
    margin-top: 170px;
    margin-bottom: 40px;
}

.register h1 {
    font-family: 'Lato', sans-serif;
    color: #dddddd;
    font-size: 40px;
    margin-top: 170px;
    margin-bottom: 40px;    
}

ul.nav a {
    color: #68747e !important;
    margin-right: 10px;
    margin-top: 15px;
}

ul.nav a:hover {
    color: #008080 !important;
    border: none;
}

ul.nav btn {
    color: #3ca3ca;
}

row3 {
    background-color: #dddddd;
}

.btn-signin {
    background-color: #3ca3ca;
    text-align: center;
    color: #ffffff;
    border: none;
    
}

.inline {
    display: inline-block;
}

.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus
{
    background-color: #008080 !important;
}

.btn-register{
    background-color: #f19897;
    border: none;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}

.btn-register:hover,
.btn-register:active,
.btn-register:focus
{
    background-color: #008080 !important;
}

.footerGroup {
    bottom: 0;
}

.btn-view {
    background-color: #087197;
    color: #fff;
}

.btn-edit {
    background-color: #08976E;
    color: #fff;
}

.btn-delete{
    background-color: #B31E12;
    color: #fff;
}

.btn-view:hover,
.btn-view:active,
.btn-view:focus
{
    background-color: #3869A0;
    color: #fff;
}

.btn-edit:hover,
.btn-edit:active,
.btn-edit:focus
{
    background-color: #3BA889;
    color: #fff;
}

.btn-delete:hover,
.btn-delete:active,
.btn-delete:focus
{
    background-color: #C0554D;
    color: #fff;
}

.btn-create {
    background-color: #008080;
    color: #fff;
    margin-bottom: 60px;
}

.btn-create:hover,
.btn-create:active,
.btn-create:focus
{
    background-color: #087197;
    color: #fff;
}

.btn-logout {
    background-color: #68747e;
    color: #008080; 
}
.whiteFont{
   color: #fff; 
}


.btn-logout btn-md:hover,
.btn-logout btn-md:active,
.btn-logout btn-md:focus
{
    background-color: #121c25 !important;
    color: #008080 !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.btn-create {
    background-color: #008080;
}

.btn-create:hover,
.btn-create:active,
.btn-create:focus
{
    background-color: #087197 !important;
}

.footer navbar-nav li a {
    background-color: #121c25 !important;
}

.footer navbar-nav h3{
    color: #636f79;
}

.btn btn-primary btn-large {
    background-color: #008080;
    color: #008080;
}